@import'../../../../App.scss';



#mainSection{

    #firstDiv{
        h3{
            font-family:$font;
        }
    }

    #main{
        display: flex;
        align-items: center;
        gap: 1.25em;
        margin: 1.688em 0em;

        p{
            font-family: $font;
            font-size:$text;
            color:$black;
        }
    }
}