@import"../../../../App.scss";

#community_section{
    
        padding: 1em;
        h4{
            font-family: $font;
        }
        #First_container{
            margin: 0.625em 0em;
        }
    #second_container{
        
        div{

            display: flex;
            align-items: center;
            gap: 0.2em;
            background:$lt-white;
            width: 82%;
            padding: 0.4em 0.5em;
            border-radius: 0.3em;
            margin: 1.875em  0em;

       
            input{
                outline: none;
                border: none;
                background: $lt-white;
                font-size: $small-text;
                font-family: $font;
            }
        }
    }

    #third_container{
     
        #third_inner_container{
            display: flex;
            gap: 1.25em;
           margin-bottom: 30px;
            .image{
                width: 9.563em;
                height: 6.5em;
            }
            .third_inner_container{
                display: flex;
                flex-direction: column;
                gap: 0.625em;
               width: 45%;
            }

            #avatar_container{
                display: flex;
                gap:0.625em;
                p{
                    font-size: $small-text;
                    font-family: $font;
                    color:$gray;
                }
            }

            .post-btn{
                margin-left: auto;
                background: $brown;
                color: $white;
                 border-radius:0.2em;
                padding: .2em 1.2em;
                text-transform: capitalize;
        
                &.disable{
                    background: $brown-accent;
                }

                }
            
        }
    }

    #fourth_container{
        display: flex;
        align-items: center;
        gap:1em;
        background:$lt-white;
        width:82%;
        padding:0.5em 1em;
        border-radius: 0.4em;
       

    }
    padding-bottom: 1.25em;
}
