@import '../App.scss';

#modal{
    position: absolute;
    top: 3em;
    left: 40%;
    right: -5%;
    width: 60%;
    background: rgba(250.75, 250.75, 250.75, 0.84); border-radius: 7px; backdrop-filter: blur(40px);
    padding: 0em 0em;
    border-radius: $border-radius;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    z-index: 30;
    // animation: slide-down 300ms ease-out forwards;
}