@import '../../App.scss';

#sidenav{
    position: relative;
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    background: $white;

    nav{
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1em;
        margin: 1em 0;
        
        .side-btns{
            position: relative;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            border-radius: 0;

            
            &.activated{
                background: $brown-accent;
                color: $brown;

                &::before{
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 2%;
                    height: 100%;
                    background: $brown;
                }
            }
        }
        
    }

    .log-btn{
        position: relative;
        width: 80%;
        background: $brown;
        color: $white;
        align-self: center;
    }

    aside{
        position: relative;
        width: 80%;
        padding: .5em;
        margin: 0 0 2em 0;
        background: $lt-gray;
        border-radius: $small-radius;
        display: flex;
        align-items: center;
        align-self: center;
        gap: .3em;

        img{
            position: relative;
            height: calc($wk-height * 0.03);
            width: calc($wk-width * 0.03);
            border-radius: $radius;
        }

        p{
            position: relative;
            display: flex;
            flex-direction: column;
            gap: 0;
            color: $gray;
        }
    }
}