@import'../../App.scss';

#feedModal{
    border-bottom: 0.50px #ABA8A8 solid;   
    display: flex;
    justify-content: space-between;
    // background:rgba(250.75, 250.75, 250.75, 0.84); border-radius: 7px; backdrop-filter: blur(40px);
    gap: 1em;
    font-size: $text;
    padding: .5em 1em;


    #feedModalText{
        color: #606060;
        font-size: $text;
        font-family: $font;
        font-weight: 500;
        word-wrap: break-word
    }
}