@import '../../../../App.scss';

#feed{
    position: relative;
    top: 0;
    right: 0;
    height: 100%;
    background: none;
    overflow-x: hidden;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    border: 1px solid navajowhite;

    #profile-feed{
        position: relative;
        width: 100%;
        border-radius: $border-radius;
        background: $white;
        padding: .5em 1em;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid darkblue;

        nav{
            width: 100%;
            display: flex;
            // align-items: center;
            // gap: .5em;
            color: $black;

            img{
                position: relative;
                height: calc($wk-height * 0.03);
                width: calc($wk-width * 0.03);
                border-radius: $radius;
            }

            small{
                color: $gray;
                font-weight: 200;
                font-size: $small-text;
            }

            .icon{
                // margin-left: auto;
                color: $gray;
            }
        }

        #feed-container{
            position: relative;
            width: 80%;

            #feed-display{
                position: relative;
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: .5em;

                small{
                    color: $gray;
                    align-self: flex-start;
                }

                p{
                    align-self: flex-start;
                    text-align: left;
                }

                .swiper{
                    position: relative;
                    width: calc($wk-width * 0.3);
                    height: calc($wk-height * 0.2);
                    margin: 0;
                    padding: 0;
                    align-self: center;
                    justify-self: center;
                    
                    .swiper-button-next,
                    .swiper-button-prev{
                        color: $brown;
                    }

                    .slides{
                        position: relative;
                        width: 100%;
                        height: 100%;
                        display: grid;
                        place-content: center;
                        align-self: center;
                        border-radius: $small-radius;
                        overflow: hidden;

                        img{
                            position: relative;
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                }

                .swiper-pagination-bullet-active,
                .swiper-pagination-bullet-active-main{
                    background: $brown;
                }
            }

            #interactions{
                display: flex;
                align-items: center;
                gap: .7em;
                margin: .7em 0;
                
                .btns{
                    color: $gray;
                    padding: 0;
                }
            }
            #interaction-display{
                display: flex;
                gap: 1em;
                align-items: center;
                color: $gray;
            }
        }
    }
}