@import url('https://fonts.cdnfonts.com/css/inter');

*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

//colours

$black: #222222;
$white: #FEFEFE;
$lt-white: #F5F5F5;
$brown: #711500;
$gray: #756969;
$lt-gray: #DBD7DE;
$tr-gray: #75696944;
$red: #EE7070;
$brown-accent: #FFDFD8;

// variables

$height: 100vh;
$width: 100%;
$wk-height: 100em;
$wk-width: 100em;
$radius: 50%;
$border-radius: 1em;
$small-radius: .5em;
$small-text: .7em;
$text: 1em;
$large-text: 2.5em;
$extra-large-text: 14em;
$font: 'Inter', sans-serif;


::-webkit-scrollbar{
  width: .5em;
  background: $lt-white;
}

::-webkit-scrollbar-thumb{
  border-radius: $border-radius;
  padding: .3em;
  background: $brown;
  cursor: pointer;
}